### what is python

python is a programming lenguage .it is object-oriented -programming language,high-level data structured and simple .dynamic typing,elegent syntx,it help in rapid deveeopement in applications

In [1]:
# numbers

In [2]:
2+2

4

In [3]:
2/3

0.6666666666666666

In [1]:
2+2j

(2+2j)

In [7]:
## question is what going on

In [10]:
# what is a here ,= what is equal hare,what 1 here ,we have to understand this fist
a=1
a

1

1. "a" is name or varibles
2. "=" is assigmnent operator
3. "1" is number or object int

### what is varibles

varibles are container in which we store values
> ex: a=1
    b="rafik"

In [17]:
# let take an example ,we take same varibles and chnges data types what will happen
x=10
x="dhoni"

In [18]:
x

'dhoni'

 in many programming languages,the varible are statically typed.means 
a variable is initially declared to have  a specific data type,any valued assigned ot it duringits lifetime must always have same types .
ex: int num =10 ....in java ,c,c++ we delared first data type 
so did not contained any other data types but python dont follow this process so python is dynamicaly typed

In [20]:
x=int(10)

In [24]:
y=float(12.00)

In [29]:
z=str("hello world")

In [30]:
x,y,z

('hello world', 12.0, 'hello world')

### name a variable

> 1. camel case
> 2.pascal case 
> 3.snake case

In [32]:
# camel case
myVariableName="hello word"

In [34]:
#pascal case
MyvriableName="hello wold"
MyvriableName

'hello wold'

In [36]:
# snake case 
My_name=10

## assigned variables
1. python allows you to assigned multiple variables in one line
2. python also allows to assigened same value to multipe variables

In [37]:
# 1 Examples
x,y,z=10,20,30

In [38]:
x

10

In [39]:
# 2 examples
x=y=z=10

In [40]:
x,y

(10, 10)

If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

In [43]:
#exampes
lst=[10,20,30]
x,y,z=lst

In [44]:
x

10

### how many type of variables in python 
ans: two types of vriables 
    1. global varibles 
    2. local variables

We have discus letter in function

## Note: what is happening when we make a varibles assigment?

In [46]:
#python is oop ,virtually every item of data in python is an object of a specific type or class
a=10
print(a)

10

### iterpreter does the following 
1.create an interger object
2.gIVES IT THE VALUE 10
3.DISPLAY IT TO THE CONSOLE

A python variable is symbolic name that is a refernce or pointer to an 
Object.Once an object is assigned to a variables ,we can refer to the object by that name.
but the data itself is still contained within the object.

In [48]:
n=10
print(n)

10

In [50]:
print(type(n))

<class 'int'>

In [52]:
m=n

In [54]:
# python does not create new object,it simply creates a new symbolic name or
# reference ,m,which point to the same object that n points to.

In [57]:

m=100
"""
now python creates a new objects integer with the value 100,and
m becmes a reference to it
"""
#m

'\nnow python creates a new objects integer with the value 100,and\nm becmes a reference to it\n'

In [58]:
n="fool"

In [59]:
"""
now python creates new objects with the value a \"fool\"
and make n reference to that objects.
there is n longer using of 10 objects ,there r no way to access the value


"""

'\nnow python creates new objects with the value a "fool"\nand make n reference to that objects.\nthere is n longer using of 10 objects ,there r no way to access the value\n\n\n'

 note: when the number of refernces to an objects drops to zero,it is no longer accessible .at that point ,its lifetime is over.python will notice that it is inaccessibale and reclim the allocated memeory so it can be used for something else.this process is called as garbage collection

In [60]:
#examples of all problems are
x=10
y=x

In [62]:
id(x)==id(y)#return the same number or memory address

True

In [63]:
y=20

In [65]:
id(x)==id(y)#they are not representining same no

False

### question:you have to ans

In [ ]:
m=5000
n=5000

In [69]:
id(m)==id(n)

False

#### give me reason here

with the m=5000 ,python creates an integer object ith the value 5000 and sets 
m as a reference to it .n is then simialrly to an integr object with value  5000
but not the same object.they have different identities,

In [70]:
#question 2

In [72]:
r=10
t=10
id(r)
id(t)
id(r)==id(t)

True

# they have return true but we have seen previous qes that they have diiferent id
# what is the reason
ans:for the porposes of optimization ,the interpreter creates objects for the integers inthe range of
    [-5,256] at startup,and then reuses them during program execution .when u assigned separate varibles to an
    integer n this range ,they will actually refernce te same object

In [75]:
x=256
y=256

In [76]:
id(x)==id(y)

True

In [77]:
x=258
y=258

In [79]:
id(x)==id(y)

False

In [2]:
a=12